<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='/stylesheets/chat.css' rel='stylesheet' />
  </head>
  <body>

  <div class="bodyWrap">
   <div class="chatWrap">
    <% include chat.ejs%>


   </div>


  </div>
  </body>
</html>
