
<div class="taskparent">
    <p class="tooltip">To Do List
        <span class="tooltiptext">Tooltip text</span>
    </p>

    <ul class="tab">
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'ShowTaskPage')"><img src="../images/show_tasks.png" height="20" width="20" title="Show my task"></img></a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'SetTaskPage')"><img src="../images/NewTask.png" height="20" width="20" title="Set a new task"></img></a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'SharedTaskPage')"><img src="../images/Friends_tasks.png" height="20" width="20" title="View friends' tasks"></img></a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'ChartPage')"><img src="../images/Productivity.png" height="20" width="20" title="Productivity"></img></a></li>
    </ul>


    <div class="tabcontent" id="ShowTaskPage" style="display: block;">
        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <table style="width:100%" id="myTbl_todo_2">
            <div data-role="popup" id="modify_todo_popup" class="ui-content" style="min-width:250px;">
                <form method="post" action="ModifyTask.js">
                    Start time of task <div><input type="time" id="STime_modify_" name="STime" ></div><br>
                    Start date of task <div><input type="date" id="SDate_modify_" name="SDate" ></div><br>
                    Finish time of task <div><input type="time" id="FTime_modify_" name="FTime" ></div><br>
                    Finish date of task <div><input type="date" id="FDate_modify_" name="FDate" ></div><br>
                    <script>
                        var today = new Date();
                        var dd = today.getDate();
                        var mm = today.getMonth()+1; //January is 0!
                        var yyyy = today.getFullYear();
                        if(dd<10){
                            dd='0'+dd
                        }
                        if(mm<10){
                            mm='0'+mm
                        }

                        today = yyyy+'-'+mm+'-'+dd;
                        document.getElementById("SDate_modify_").setAttribute("min", today);
                        document.getElementById("FDate_modify_").setAttribute("min", today);
                    </script>
                    <br>
                    Name of task <div><input type="text" id="NameTask_modify_" name="NameTask"></div><br>
                    Priority<br>
                    <input type="radio" id="priority_1_task_modify_" name="priority_task_1" value="1">
                    <label id="priority_1_task_modify_label"> <img src="../images/Urgent.png" width="50" height="50"/> <div>Urgent</div> </label>
                    <br>
                    <input type="radio" id="priority_2_task_modify_" name="priority_task_1" value="2">
                    <label id="priority_2_task_modify_label"> <img src="../images/Pressing.png" width="50" height="50" /><div>Pressing</div></label>
                    <br>
                    <input type="radio" id="priority_3_task_modify_" name="priority_task_1" value="3">
                    <label id="priority_3_task_modify_label"> <img src="../images/Normal.png" width="50" height="50" /><div>Normal</div></label>
                    <br>
                    <input type="radio" id="priority_4_task_modify_" name="priority_task_1" value="4">
                    <label id="priority_4_task_modify_label"> <img src="../images/Easy.png" width="50" height="50" /><div>Easy</div></label>
                    <br>
                    Note <br>
                    <div><textarea id="NoteTask_modify_" name="NoteTask_modify_" rows=4 cols=50></textarea></div><br>
                    <br>
                    <a href="#" data-rel="back" data-role="button" data-theme="a" class="modify" id="modify_">Modify task</a>
                </form>
            </div>
            <div data-role="popup" id="done_todo_popup" class="ui-content" style="min-width:250px;">
                <form method="post" action="DoneTask.js">
                    Experience <br>
                    <div><textarea id="ExpTask" name="ExpTask" rows=4 cols=50></textarea></div><br>
                    <br>
                    <input type="checkbox" id="IsShareTask" name="IsShareTask" value="public">Do you want to share this task?<br>
                    <br>
                    <a href="#" data-rel="back" data-role="button" data-theme="a" class="done" id="done_btn_">Done task</a>
                </form>
            </div>
            <div data-role="popup" id="suggestion_todo_popup" class="ui-content" style="min-width:250px;">
                <form id="sugTbl_todo">
                </form>
            </div>
        </table>
        <script>
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var table = document.getElementById("myTbl_todo_2");
                    var Newtable = document.getElementById("myTbl_todo_1");
                    response_my_todo = JSON.parse(this.responseText);
                    setChart();
                    for(var i in response_my_todo.myData2) {
                        if(response_my_todo.myData2[i].Status == 'NotYet') {
                            try {
                                var row = table.insertRow(0);
                                row.setAttribute("id", "Row0_" + response_my_todo.myData2[i].TaskId);
                                row.setAttribute("name", "Row0_" + response_my_todo.myData2[i].TaskId);
                                // Task Infor field
                                var NameCell = row.insertCell(0);
                                NameCell.setAttribute("colspan", 3);
                                var NameTab = document.createElement("a");
                                NameTab.innerHTML = response_my_todo.myData2[i].NameTask;
                                NameTab.setAttribute("onclick", "setPara2Popup4Suggestion(" + i + ")");
                                NameTab.setAttribute("name", "NameTask2_" + response_my_todo.myData2[i].TaskId);
                                NameTab.setAttribute("id", "NameTask2_" + response_my_todo.myData2[i].TaskId);
                                NameTab.setAttribute("href", "#suggestion_todo_popup");
                                NameTab.setAttribute("data-rel", "popup");
                                NameTab.setAttribute("style", "cursor:pointer");
                                NameCell.appendChild(NameTab);

                                var date_row = table.insertRow(1);
                                date_row.setAttribute("id", "Row1_" + response_my_todo.myData2[i].TaskId);
                                date_row.setAttribute("name", "Row1_" + response_my_todo.myData2[i].TaskId);
                                var DateCell = date_row.insertCell(0);
                                DateCell.setAttribute("colspan", 3);
                                var DateTab = document.createElement("label");
                                DateTab.innerHTML = "<small>Start: " + response_my_todo.myData2[i].startDate + " " + response_my_todo.myData2[i].startTime + "<br />Finish: " + response_my_todo.myData2[i].finishDate + " " + response_my_todo.myData2[i].finishTime + "</small>";
                                DateTab.setAttribute("name", "TimeTask2_" + response_my_todo.myData2[i].TaskId);
                                DateTab.setAttribute("id", "TimeTask2_" + response_my_todo.myData2[i].TaskId);
                                DateCell.appendChild(DateTab);

                                var PriorityTab = document.createElement("IMG");
                                if(response_my_todo.myData2[i].priorityTask == 4) {
                                    PriorityTab.setAttribute("src", "../images/Easy.png");
                                    PriorityTab.setAttribute("title", "Easy Task");
                                }
                                else if(response_my_todo.myData2[i].priorityTask == 3) {
                                    PriorityTab.setAttribute("src", "../images/Normal.png");
                                    PriorityTab.setAttribute("title", "Normal Task");
                                }
                                else if(response_my_todo.myData2[i].priorityTask == 2) {
                                        PriorityTab.setAttribute("src", "../images/Pressing.png");
                                    PriorityTab.setAttribute("title", "Pressing Task");
                                }
                                else if(response_my_todo.myData2[i].priorityTask == 1) {
                                    PriorityTab.setAttribute("src", "../images/Urgent.png");
                                    PriorityTab.setAttribute("title", "Urgent Task");
                                }
                                PriorityTab.setAttribute("name", "PriorityTask2_" + response_my_todo.myData2[i].TaskId);
                                PriorityTab.setAttribute("width", 50);
                                PriorityTab.setAttribute("height", 50);
                                PriorityTab.setAttribute("id", "PriorityTask2_" + response_my_todo.myData2[i].TaskId);
                                DateCell.appendChild(PriorityTab);

                                var note_row = table.insertRow(2);
                                note_row.setAttribute("id", "Row2_" + response_my_todo.myData2[i].TaskId);
                                note_row.setAttribute("name", "Row2_" + response_my_todo.myData2[i].TaskId);
                                var NoteCell = note_row.insertCell(0);
                                NoteCell.setAttribute("colspan", 3);
                                var NoteTab = document.createElement("label");
                                NoteTab.innerHTML = "<small>Note: " + response_my_todo.myData2[i].NoteTask + "</small>";
                                NoteTab.setAttribute("name", "NoteTask2_" + response_my_todo.myData2[i].TaskId);
                                NoteTab.setAttribute("id", "NoteTask2_" + response_my_todo.myData2[i].TaskId);
                                NoteCell.appendChild(NoteTab);
                                // Delete field
                                var button_row = table.insertRow(3);
                                button_row.setAttribute("id", "Row3_" + response_my_todo.myData2[i].TaskId);
                                button_row.setAttribute("name", "Row3_" + response_my_todo.myData2[i].TaskId);
                                var DeleteCell = button_row.insertCell(0);
                                var DeleteBtn = document.createElement("IMG");
                                DeleteBtn.innerHTML = "Delete";
                                //DeleteBtn.setAttribute("class", "ui-btn ui-btn-inline ui-corner-all");
                                DeleteBtn.setAttribute("src", "../images/check_delete.png");
                                DeleteBtn.setAttribute("width", 42);
                                DeleteBtn.setAttribute("height", 42);
                                DeleteBtn.setAttribute("title", "Delete Task");
                                DeleteCell.setAttribute("name", "delete_td_" + response_my_todo.myData2[i].TaskId);
                                DeleteBtn.setAttribute("id", "delete_" + response_my_todo.myData2[i].TaskId);
                                DeleteBtn.setAttribute("style", "cursor:pointer");
                                //DeleteBtn.setAttribute("type", "button");
                                DeleteCell.appendChild(DeleteBtn);
                                // Modify field
                                var ModifyCell = button_row.insertCell(1);
                                ModifyCell.setAttribute("name", "modify_td_" + response_my_todo.myData2[i].TaskId);

                                var MainDiv = document.createElement("DIV");
                                ModifyCell.appendChild(MainDiv);
                                MainDiv.setAttribute("data-role", "main");
                                MainDiv.setAttribute("class", "ui-content");

                                var ModifyButton = document.createElement("A");
                                MainDiv.appendChild(ModifyButton);
                                //ModifyButton.innerHTML = "Modify";
                                var ModifyImg = document.createElement("IMG");
                                ModifyImg.setAttribute("src", "../images/modify-icon.png");
                                ModifyImg.setAttribute("width", 42);
                                ModifyImg.setAttribute("height", 42);
                                /*ModifyButton.setAttribute("class", "tooltip");
                                 var spanHint = document.createElement("span");
                                 spanHint.setAttribute("class", "tooltiptext");
                                 spanHint.innerHTML = "Modify Task";
                                 ModifyButton.appendChild(spanHint);*/
                                ModifyImg.setAttribute("title", "Modify Task");
                                ModifyButton.appendChild(ModifyImg);
                                ModifyButton.setAttribute("href", "#modify_todo_popup");
                                ModifyImg.setAttribute("onclick", "setPara2Popup(" + i + ")");
                                ModifyButton.setAttribute("data-rel", "popup");
                                //ModifyButton.setAttribute("class", "ui-btn ui-btn-inline ui-corner-all");
                                ModifyButton.setAttribute("id", "modify_button_" + response_my_todo.myData2[i].TaskId);
                                // Done field
                                var DoneCell = button_row.insertCell(2);
                                DoneCell.setAttribute("name", "done_td_" + response_my_todo.myData2[i].TaskId);

                                var MainDoneDiv = document.createElement("DIV");
                                DoneCell.appendChild(MainDoneDiv);
                                MainDoneDiv.setAttribute("data-role", "main");
                                MainDoneDiv.setAttribute("class", "ui-content");

                                var DoneButton = document.createElement("A");
                                MainDoneDiv.appendChild(DoneButton);
                                var DoneImg = document.createElement("IMG");
                                DoneImg.setAttribute("src", "../images/check_done.png");
                                DoneImg.setAttribute("width", 42);
                                DoneImg.setAttribute("height", 42);
                                DoneImg.setAttribute("title", "Done Task");
                                DoneButton.appendChild(DoneImg);
                                DoneButton.setAttribute("href", "#done_todo_popup");
                                DoneImg.setAttribute("onclick", "setPara2Popup4DoneButton(" + i + ")");
                                //DoneButton.innerHTML = "Done";
                                DoneButton.setAttribute("data-rel", "popup");
                                //DoneButton.setAttribute("class", "ui-btn ui-btn-inline ui-corner-all");
                            }
                            catch(ex){
                                alert(ex);
                            }
                        }
                    }
                    setFunction();

                    for(var i in response_my_todo.myData) {
                        try {
                            var row2 = Newtable.insertRow(0);
                            // Task Infor field
                            var NameCell2 = row2.insertCell(0);
                            NameCell2.setAttribute("colspan", 3);
                            NameCell2.innerHTML = response_my_todo.myData[i].NameTask;
                            NameCell2.setAttribute("name", "NameTask_" + response_my_todo.myData[i].TaskId);
                            NameCell2.setAttribute("id", "NameTask_" + response_my_todo.myData[i].TaskId);
                            //NameCell2.setAttribute("style", "cursor:pointer");
                            // Star field
                            var starRow = Newtable.insertRow(1);
                            var StarCell = starRow.insertCell(0);
                            StarCell.setAttribute("colspan", 3);
                            var StarSpan = document.createElement("span");
                            StarSpan.setAttribute("class", "star-rating");
                            StarCell.appendChild(StarSpan);

                            var Star1 = document.createElement("a");
                            Star1.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData[i].TaskId + ",1, "+ response_my_todo.user +")");
                            StarSpan.appendChild(Star1);
                            var StarImg1 = document.createElement("img");
                            if(response_my_todo.myData[i].RateAvg >= 0.5)
                                StarImg1.setAttribute("src", "../images/bright-star.png");
                            else
                                StarImg1.setAttribute("src", "../images/dark-star.png");
                            StarImg1.setAttribute("alt", "star1");
                            StarImg1.setAttribute("height", "10");
                            StarImg1.setAttribute("width", "10");
                            Star1.appendChild(StarImg1);

                            var Star2 = document.createElement("a");
                            Star2.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData[i].TaskId + ",2, "+ response_my_todo.user+")");
                            StarSpan.appendChild(Star2);
                            var StarImg2 = document.createElement("img");
                            if(response_my_todo.myData[i].RateAvg >= 1.5)
                                StarImg2.setAttribute("src", "../images/bright-star.png");
                            else
                                StarImg2.setAttribute("src", "../images/dark-star.png");
                            StarImg2.setAttribute("alt", "star2");
                            StarImg2.setAttribute("height", "10");
                            StarImg2.setAttribute("width", "10");
                            Star2.appendChild(StarImg2);

                            var Star3 = document.createElement("a");
                            Star3.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData[i].TaskId + ",3, "+ response_my_todo.user+")");
                            StarSpan.appendChild(Star3);
                            var StarImg3 = document.createElement("img");
                            if(response_my_todo.myData[i].RateAvg >= 2.5)
                                StarImg3.setAttribute("src", "../images/bright-star.png");
                            else
                                StarImg3.setAttribute("src", "../images/dark-star.png");
                            StarImg3.setAttribute("alt", "star3");
                            StarImg3.setAttribute("height", "10");
                            StarImg3.setAttribute("width", "10");
                            Star3.appendChild(StarImg3);

                            var Star4 = document.createElement("a");
                            Star4.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData[i].TaskId + ",4, "+ response_my_todo.user+")");
                            StarSpan.appendChild(Star4);
                            var StarImg4 = document.createElement("img");
                            if(response_my_todo.myData[i].RateAvg >= 3.5)
                                StarImg4.setAttribute("src", "../images/bright-star.png");
                            else
                                StarImg4.setAttribute("src", "../images/dark-star.png");
                            StarImg4.setAttribute("alt", "star4");
                            StarImg4.setAttribute("height", "10");
                            StarImg4.setAttribute("width", "10");
                            Star4.appendChild(StarImg4);

                            var Star5 = document.createElement("a");
                            Star5.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData[i].TaskId + ",5, "+ response_my_todo.user+")");
                            StarSpan.appendChild(Star5);
                            var StarImg5 = document.createElement("img");
                            if(response_my_todo.myData[i].RateAvg >= 4.5)
                                StarImg5.setAttribute("src", "../images/bright-star.png");
                            else
                                StarImg5.setAttribute("src", "../images/dark-star.png");
                            StarImg5.setAttribute("alt", "star5");
                            StarImg5.setAttribute("height", "10");
                            StarImg5.setAttribute("width", "10");
                            Star5.appendChild(StarImg5);
                            // Exp field
                            var ExpRow = Newtable.insertRow(2);
                            var ExpCell2 = ExpRow.insertCell(0);
                            ExpCell2.setAttribute("colspan", 3);
                            if(response_my_todo.myData[i].Exp)
                                ExpCell2.innerHTML = "<b>Experience</b>: " + response_my_todo.myData[i].Exp;
                            ExpCell2.setAttribute("name", "ExpTask_" + response_my_todo.myData[i].TaskId);
                            ExpCell2.setAttribute("id", "ExpTask_" + response_my_todo.myData[i].TaskId);
                            // Note field
                            var NoteRow = Newtable.insertRow(3);
                            var NoteCell2 = NoteRow.insertCell(0);
                            NoteCell2.setAttribute("colspan", 3);
                            if(response_my_todo.myData[i].NoteTask)
                                NoteCell2.innerHTML = "<b>Note</b>: " + response_my_todo.myData[i].NoteTask;
                            NoteCell2.setAttribute("name", "NoteTask_" + response_my_todo.myData[i].TaskId);
                            NoteCell2.setAttribute("id", "NoteTask_" + response_my_todo.myData[i].TaskId);
                            // Label field
                            var Labelrow = Newtable.insertRow(4);
                            var LabelCell = Labelrow.insertCell(0);
                            LabelCell.setAttribute("colspan", 3);
                            var LabelCmm = document.createElement("b");
                            LabelCmm.innerHTML = "Comments";
                            LabelCell.appendChild(LabelCmm);
                            // Comment field
                            var Cmmrow = Newtable.insertRow(5);
                            var CmmCell = Cmmrow.insertCell(0);
                            CmmCell.setAttribute("colspan", 3);
                            var CmmTable = document.createElement("table");
                            CmmTable.setAttribute("id", "show_comment_" + response_my_todo.myData[i].TaskId);
                            CmmCell.appendChild(CmmTable);
                            for(var j=0;j < response_my_todo.myComments.length; j++){
                                for(var k=0;k<response_my_todo.myComments[j].length;k++){
                                    if(response_my_todo.myComments[j][k].TaskId == response_my_todo.myData[i].TaskId){
                                        var SubCmmrow = CmmTable.insertRow(0);
                                        var SubCmmCell = SubCmmrow.insertCell(0);
                                        SubCmmCell.innerHTML = response_my_todo.myComments[j][k].Comment;
                                    }
                                }
                            }
                            // Post field
                            var Postrow = Newtable.insertRow(6);
                            var PostCell = Postrow.insertCell(0);
                            PostCell.setAttribute("colspan", 3);
                            PostCell.setAttribute("colspan", "2");
                            PostCell.setAttribute("id", "comment_td_" + response_my_todo.myData[i].TaskId);
                            PostCell.setAttribute("name", "comment_td_" + response_my_todo.myData[i].TaskId);
                            var PostInput = document.createElement("input");
                            PostCell.appendChild(PostInput);
                            PostInput.setAttribute("type", "text");
                            PostInput.setAttribute("width", "200px");
                            PostInput.setAttribute("id", "comment_" + response_my_todo.myData[i].TaskId);
                        }
                        catch(ex){
                            alert(ex);
                        }
                    }
                    setFunctionForSharedField();
                }
            };
            xhttp.open("GET", "getTaskData", true);

            xhttp.send();
        </script>
    </div>

    <div class="tabcontent" id="SetTaskPage">
        <form>
            Start time of task <div><input type="time" id="STime_done_" name="STime_done_"></div><br>
            Start date of task <div><input type="date" id="SDate_done_" name="SDate_done_" min="2000-01-02"></div><br>
            Finish time of task <div><input type="time" id="FTime_done_" name="FTime_done_"></div><br>
            Finish date of task <div><input type="date" id="FDate_done_" name="FDate_done_" min="2000-01-02"></div><br>
            <script>
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd
                }
                if(mm<10){
                    mm='0'+mm
                }

                today = yyyy+'-'+mm+'-'+dd;
                document.getElementById("SDate_done_").setAttribute("min", today);
                document.getElementById("FDate_done_").setAttribute("min", today);
            </script>
            <br>
            Name of task <div><input type="text" id="NameTask_done_" name="NameTask_done_"></div><br>
            Priority<br>
                <input type="radio" id="priority_1_task_done_" name="priority_task_1" value="1">
                <label id="priority_1_task_done_label" for="priority_1_task_done_"> <img src="../images/Urgent.png" width="50" height="50"/> <div>Urgent</div> </label>
            <br>
		        <input type="radio" id="priority_2_task_done_" name="priority_task_1" value="2">
                <label id="priority_2_task_done_label" for="priority_2_task_done_"> <img src="../images/Pressing.png" width="50" height="50" /><div>Pressing</div></label>
            <br>
		        <input type="radio" id="priority_3_task_done_" name="priority_task_1" value="3">
                <label id="priority_3_task_done_label" for="priority_3_task_done_"> <img src="../images/Normal.png" width="50" height="50" /><div>Normal</div></label>
            <br>
		        <input type="radio" id="priority_4_task_done_" name="priority_task_1" value="4">
                <label id="priority_4_task_done_label" for="priority_4_task_done_"> <img src="../images/Easy.png" width="50" height="50" /><div>Easy</div></label>
            <br>
            Note<br>
            <div><textarea id="NoteTask_done_" name="NoteTask_done_" rows=4 cols=50></textarea></div><br>
            <br>
            <button class="ui-btn ui-btn-inline ui-corner-all" type="button" name="setTask_td_" id="setTask_" onclick="mySetTask()">Add new Task</button>
        </form>
    </div>
    <div class="tabcontent" id="SharedTaskPage">
        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <table style="width:50%" id="myTbl_todo_1">
        </table>
    </div>
    <div class="tabcontent" id="ChartPage">
        <div id="myChart" style="width: 290px; height: 400px;"></div>
    </div>
</div>


<script>
    function setChart() {
        try{
            var currentdate = new Date();
            var heute = currentdate.getDate() + '/' + (currentdate.getMonth()+1);
            var EXheute = currentdate.getFullYear() + '-' + (currentdate.getMonth()+1) + '-' + currentdate.getDate();
            var gestern = (currentdate.getDate()-1) + '/' + (currentdate.getMonth()+1);
            var EXgestern = currentdate.getFullYear() + '-' + (currentdate.getMonth()+1) + '-' + (currentdate.getDate()-1);
            var gestern1 = (currentdate.getDate()-2) + '/' + (currentdate.getMonth()+1);
            var EXgestern1 = currentdate.getFullYear() + '-' + (currentdate.getMonth()+1) + '-' + (currentdate.getDate()-2);
            var gestern2 = (currentdate.getDate()-3) + '/' + (currentdate.getMonth()+1);
            var EXgestern2 = currentdate.getFullYear() + '-' + (currentdate.getMonth()+1) + '-' + (currentdate.getDate()-3);
            var gestern3 = (currentdate.getDate()-4) + '/' + (currentdate.getMonth()+1);
            var EXgestern3 = currentdate.getFullYear() + '-' + (currentdate.getMonth()+1) + '-' + (currentdate.getDate()-4);
            var Noheute = 0,Deheute = 0;
            var Nogestern = 0,Degestern = 0;
            var Nogestern1 = 0,Degestern1 = 0;
            var Nogestern2 = 0,Degestern2 = 0;
            var Nogestern3 = 0,Degestern3 = 0;
            for(var i = 0; i < response_my_todo.myData2.length; i++){
                if(response_my_todo.myData2[i].finishDate == EXheute) {
                    if(response_my_todo.myData2[i].Status == "Done")
                        Noheute++;
                    else if(response_my_todo.myData2[i].Status == "Delete")
                        Deheute++;
                }
                else if(response_my_todo.myData2[i].finishDate == EXgestern) {
                    if(response_my_todo.myData2[i].Status == "Done")
                        Nogestern++;
                    else if(response_my_todo.myData2[i].Status == "Delete")
                        Degestern++;
                }
                else if(response_my_todo.myData2[i].finishDate == EXgestern1) {
                    if(response_my_todo.myData2[i].Status == "Done")
                        Nogestern1++;
                    else if(response_my_todo.myData2[i].Status == "Delete")
                        Degestern1++;
                }
                else if(response_my_todo.myData2[i].finishDate == EXgestern2) {
                    if(response_my_todo.myData2[i].Status == "Done")
                        Nogestern2++;
                    else if(response_my_todo.myData2[i].Status == "Delete")
                        Degestern2++;
                }
                else if(response_my_todo.myData2[i].finishDate == EXgestern3) {
                    if(response_my_todo.myData2[i].Status == "Done")
                        Nogestern3++;
                    else if(response_my_todo.myData2[i].Status == "Delete")
                        Degestern3++;
                }
            }
            var trace1 = {
                x: [gestern3, gestern2, gestern1, gestern, heute],
                y: [Nogestern3, Nogestern2, Nogestern1, Nogestern, Noheute],
                type: 'scatter',
                name: 'Finish'
            };
            var trace2 = {
                x: [gestern3, gestern2, gestern1, gestern, heute],
                y: [Degestern3, Degestern2, Degestern1, Degestern, Deheute],
                type: 'scatter',
                name: 'Delete'
            };
            var data = [trace1,trace2];
            var layout = {
                title:'Productivity'
            };
            Plotly.newPlot('myChart', data, layout);
        }
        catch(ex){
            console.log(ex);
        }
    }

    function setFunctionForSharedField(){
        try {
            var table = document.getElementById("myTbl_todo_1");
            var tds = table.getElementsByTagName("td");
            var matchingTds = [];
            var myNameTasks = [];

            for (var i = 0, len = tds.length, td, tdName; i < len; ++i) {
                td = tds[i];
                tdName = td.getAttribute("name");
                if (tdName && tdName.indexOf("NameTask_") == 0) {
                    myNameTasks.push(td);
                }
                else if (tdName && tdName.indexOf("comment_td_") == 0) {
                    matchingTds.push(td.getElementsByTagName("input")[0]);
                }
            }
            for (var j = 0; j < matchingTds.length; j++) {
                var myStr = "#" + matchingTds[j].id;
                $(myStr).keydown(function (e) {
                    if (e.which == 13) {
                        submitComment($(this).attr('id'), $(this).val(), response_my_todo.user);
                        $(this).val("");
                    }
                });
            }
            for (var k = 0; k < myNameTasks.length; k++) {
                var myStr = "#" + myNameTasks[k].id;
                $(myStr).click(function () {
                    submitSuggestion($(this).attr('id'), $(this).text().trim());
                });
            }
        }catch(ex){
            alert(ex);
        }
    }

    function setFunctionForSuggestionField(){
        try {
            var table = document.getElementById("sugTbl_todo");
            var tds = table.getElementsByTagName("input");
            var matchingTds = [];

            for (var i = 0, len = tds.length, td, tdName; i < len; ++i) {
                td = tds[i];
                tdName = td.getAttribute("name");
                if (tdName && tdName.indexOf("sugcomment_") == 0) {
                    matchingTds.push(td);
                }
            }
            for (var j = 0; j < matchingTds.length; j++) {
                var myStr = "#" + matchingTds[j].id;
                $(myStr).keydown(function (e) {
                    if (e.which == 13) {
                        submitComment2($(this).attr('id'), $(this).val(), response_my_todo.user);
                        $(this).val("");
                    }
                });
            }
        }catch(ex){
            alert(ex);
        }
    }

    function setFunction(){
        try {
            var table2 = document.getElementById("myTbl_todo_2");
            var tds2 = table2.getElementsByTagName("td");
            var DeleteBtns = [];
            var myNameTasks2 = [];
            for (var i2 = 0, len2 = tds2.length, td2, tdName2; i2 < len2; ++i2) {
                td2 = tds2[i2];
                tdName2 = td2.getAttribute("name");
                if (tdName2 && tdName2.indexOf("NameTask2_") == 0) {
                    myNameTasks2.push(td2.getElementsByTagName("a")[0]);
                }
                else if (tdName2 && tdName2.indexOf("delete_td_") == 0) {
                    DeleteBtns.push(td2.getElementsByTagName("img")[0]);
                }
            }
            for (var j2 = 0; j2 < DeleteBtns.length; j2++) {
                var myStr2 = "#" + DeleteBtns[j2].id;
                $(myStr2).click(function () {
                    myDelete($(this).attr('id'));
                });
            }
            for (var k2 = 0; k2 < myNameTasks2.length; k2++) {
                var myStr2 = "#" + myNameTasks2[k2].id;
                /*$(myStr2).click(function () {
                 submitSuggestion($(this).attr('id'), $(this).text().trim());
                 });*/
            }
        }catch(ex){
            alert(ex);
        }
    }

    function setPara2Popup4Suggestion(ParaSet){
        try{
            var id = response_my_todo.myData2[ParaSet].TaskId;
            var sug = response_my_todo.myData2[ParaSet].NameTask;
            submitSuggestion(id, sug);
        }
        catch(ex){
            alert(ex);
        }
    }

    function setPara2Popup(ParaSet){
        try {
            var STime_modify_ = document.getElementById("STime_modify_");
            STime_modify_.value = response_my_todo.myData2[ParaSet].startTime;

            var SDate_modify_ = document.getElementById("SDate_modify_");
            SDate_modify_.value = response_my_todo.myData2[ParaSet].startDate;

            var FTime_modify_ = document.getElementById("FTime_modify_");
            FTime_modify_.value = response_my_todo.myData2[ParaSet].finishTime;

            var FDate_modify_ = document.getElementById("FDate_modify_");
            FDate_modify_.value = response_my_todo.myData2[ParaSet].finishDate;

            $("#NameTask_modify_").val(response_my_todo.myData2[ParaSet].NameTask);

            $("#NoteTask_modify_").val(response_my_todo.myData2[ParaSet].NoteTask);

            var SubmitModify = document.getElementById("modify_");
            SubmitModify.setAttribute("onclick", "myModify(" + response_my_todo.myData2[ParaSet].TaskId + "," + ParaSet + ")");
            //SubmitModify.setAttribute("data-rel", "back");

            if (response_my_todo.myData2[ParaSet].priorityTask == 1) {
                document.getElementById("priority_1_task_modify_").checked = true;
                //document.getElementById("priority_1_task_modify_label").setAttribute("class", "ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on");
            }
            if (response_my_todo.myData2[ParaSet].priorityTask == 2){
                document.getElementById("priority_2_task_modify_").checked = true;
                //document.getElementById("priority_2_task_modify_label").setAttribute("class", "ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on");
            }
            if (response_my_todo.myData2[ParaSet].priorityTask == 3){
                document.getElementById("priority_3_task_modify_").checked = true;
                //document.getElementById("priority_3_task_modify_label").setAttribute("class", "ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on");
            }
            if (response_my_todo.myData2[ParaSet].priorityTask == 4){
                document.getElementById("priority_4_task_modify_").checked = true;
                //document.getElementById("priority_4_task_modify_label").setAttribute("class", "ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on");
            }
        }catch(ex){
            alert(ex);
        }
    }

    function setPara2Popup4DoneButton(ParaSet){
        try {
            var SubmitDone = document.getElementById("done_btn_");
            SubmitDone.setAttribute("onclick", "myDone(" + response_my_todo.myData2[ParaSet].TaskId + "," + ParaSet + ")");
        }catch(ex){
            alert(ex);
        }
    }

    function myDelete(id){
        id = id.split('_');
        id = id[id.length - 1];
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var row = document.getElementById("Row0_" + id);
                row.parentNode.removeChild(row);
                var row1 = document.getElementById("Row1_" + id);
                row1.parentNode.removeChild(row1);
                var row2 = document.getElementById("Row2_" + id);
                row2.parentNode.removeChild(row2);
                var row3 = document.getElementById("Row3_" + id);
                row3.parentNode.removeChild(row3);
                for (var i = 0; i < response_my_todo.myData2.length; i++) {
                    if(response_my_todo.myData2[i].TaskId == id) {
                        response_my_todo.myData2[i].Status = "Delete";
                        var currentdate = new Date();
                        response_my_todo.myData2[i].finishTime = currentdate.getHours() + ':' + currentdate.getMinutes();
                        response_my_todo.myData2[i].finishDate = currentdate.getFullYear() + '-' + (currentdate.getMonth() + 1) + '-' + currentdate.getDate();
                    }
                }
                setChart();
            }
        };
        xhttp.open("POST", "ShowTask?id=" + id, true);

        xhttp.send();
    }

    function myModify(id, index) {
        var myId = id;
        var STime = $("#STime_modify_").val();
        var SDate = $("#SDate_modify_").val();
        var FTime = $("#FTime_modify_").val();
        var FDate = $("#FDate_modify_").val();
        var NameTask = $("#NameTask_modify_").val();
        var NoteTask = $("#NoteTask_modify_").val();
        var priority = 4;
        if(document.getElementById("priority_1_task_modify_").checked)
            priority = 1;
        else if(document.getElementById("priority_2_task_modify_").checked)
            priority = 2;
        else if(document.getElementById("priority_3_task_modify_").checked)
            priority = 3;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                try {
                    // update response_my_todo.myData2
                    response_my_todo.myData2[index].NameTask = NameTask;
                    response_my_todo.myData2[index].startTime = STime;
                    response_my_todo.myData2[index].startDate = SDate;
                    response_my_todo.myData2[index].priorityTask = priority;
                    response_my_todo.myData2[index].NoteTask = NoteTask;
                    response_my_todo.myData2[index].PostponeTime = FTime;
                    response_my_todo.myData2[index].PostponeDate = FDate;
                    console.log(JSON.stringify((response_my_todo.myData2)));
                    // modify task
                    $('a#NameTask2_' + myId).text(NameTask);
                    var new_str = '<small>Start: ' + SDate + ' ' + STime + '<br />Finish: ' + FDate + ' ' + FTime + '</small>';
                    $('label#TimeTask2_' + myId).html(new_str);
                    var prio_button = document.getElementById("PriorityTask2_" + myId);
                    if(priority == 4) {
                        prio_button.setAttribute("src", "../images/Easy.png");
                        prio_button.setAttribute("title", "Easy Task");
                    }
                    else if(priority == 3) {
                        prio_button.setAttribute("src", "../images/Normal.png");
                        prio_button.setAttribute("title", "Normal Task");
                    }
                    else if(priority == 2) {
                        prio_button.setAttribute("src", "../images/Pressing.png");
                        prio_button.setAttribute("title", "Pressing Task");
                    }
                    else if(priority == 1) {
                        prio_button.setAttribute("src", "../images/Urgent.png");
                        prio_button.setAttribute("title", "Urgent Task");
                    }
                    var new_str1 = '<small>Note: ' + NoteTask + '</small>';
                    $('label#NoteTask2_' + myId).html(new_str1);
                }
                catch(ex){
                    alert(ex);
                }
            }
        };
        xhttp.open("POST", "ModifyTask", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("id="+myId+"&STime="+STime+"&SDate="+SDate+"&FTime="+FTime+"&FDate="+FDate+"&NameTask="+NameTask+"&NoteTask="+NoteTask+"&priority="+priority);
    }

    function myDone(id, i) {
        var myId = id;
        var exp = $("#ExpTask").val();
        var shared = document.getElementById("IsShareTask").checked;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                try {
                    // clear form
                    $("#ExpTask").val("");
                    document.getElementById("IsShareTask").checked = false;
                    // update response_my_todo.myData
                    response_my_todo.myData2[i].Exp = exp;
                    response_my_todo.myData2[i].Shared = shared;
                    response_my_todo.myData2[i].Status = "Done";
                    var currentdate = new Date();
                    response_my_todo.myData2[i].finishTime = currentdate.getHours() + ':' + currentdate.getMinutes();
                    response_my_todo.myData2[i].finishDate = currentdate.getFullYear() + '-' + (currentdate.getMonth()+1) + '-' + currentdate.getDate();
                    // remove from my tasks
                    var table = document.getElementById("myTbl_todo_2");
                    var row = document.getElementById("Row0_" + myId);
                    row.parentNode.removeChild(row);
                    var row1 = document.getElementById("Row1_" + myId);
                    row1.parentNode.removeChild(row1);
                    var row2 = document.getElementById("Row2_" + myId);
                    row2.parentNode.removeChild(row2);
                    var row3 = document.getElementById("Row3_" + myId);
                    row3.parentNode.removeChild(row3);
                    // done task
                    if(shared) {
                        // update response_my_todo.myData
                        response_my_todo.myData.push({"TaskId":response_my_todo.myData2[i].TaskId,"Owner":response_my_todo.user,"NameTask":response_my_todo.myData2[i].NameTask,"startTime":response_my_todo.myData2[i].startTime,"startDate":response_my_todo.myData2[i].startDate,"finishTime":response_my_todo.myData2[i].finishTime,"finishDate":response_my_todo.myData2[i].finishDate,"priorityTask":response_my_todo.myData2[i].priorityTask,"NoteTask":response_my_todo.myData2[i].NoteTask,"Status":response_my_todo.myData2[i].Status,"RateAvg":0,"CmtNo":0,"PostponeTime":response_my_todo.myData2[i].PostponeTime,"PostponeDate":response_my_todo.myData2[i].PostponeDate,"Exp":exp,"Shared":"True"});
                        // add to share tasks
                        var Newtable = document.getElementById("myTbl_todo_1");
                        var row2 = Newtable.insertRow(0);
                        var NameCell2 = row2.insertCell(0);
                        NameCell2.setAttribute("colspan", 3);
                        NameCell2.innerHTML = response_my_todo.myData2[i].NameTask;
                        NameCell2.setAttribute("name", "NameTask_" + response_my_todo.myData2[i].TaskId);
                        NameCell2.setAttribute("id", "NameTask_" + response_my_todo.myData2[i].TaskId);
                        //NameCell2.setAttribute("style", "cursor:pointer");
                        // Star field
                        var starRow = Newtable.insertRow(1);
                        var StarCell = starRow.insertCell(0);
                        StarCell.setAttribute("colspan", 3);
                        var StarSpan = document.createElement("span");
                        StarSpan.setAttribute("class", "star-rating");
                        StarCell.appendChild(StarSpan);

                        var Star1 = document.createElement("a");
                        Star1.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData2[i].TaskId + ",1, "+ response_my_todo.user +")");
                        StarSpan.appendChild(Star1);
                        var StarImg1 = document.createElement("img");
                        if(response_my_todo.myData2[i].RateAvg >= 0.5)
                            StarImg1.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg1.setAttribute("src", "../images/dark-star.png");
                        StarImg1.setAttribute("alt", "star1");
                        StarImg1.setAttribute("height", "10");
                        StarImg1.setAttribute("width", "10");
                        Star1.appendChild(StarImg1);

                        var Star2 = document.createElement("a");
                        Star2.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData2[i].TaskId + ",2, "+ response_my_todo.user+")");
                        StarSpan.appendChild(Star2);
                        var StarImg2 = document.createElement("img");
                        if(response_my_todo.myData2[i].RateAvg >= 1.5)
                            StarImg2.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg2.setAttribute("src", "../images/dark-star.png");
                        StarImg2.setAttribute("alt", "star2");
                        StarImg2.setAttribute("height", "10");
                        StarImg2.setAttribute("width", "10");
                        Star2.appendChild(StarImg2);

                        var Star3 = document.createElement("a");
                        Star3.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData2[i].TaskId + ",3, "+ response_my_todo.user+")");
                        StarSpan.appendChild(Star3);
                        var StarImg3 = document.createElement("img");
                        if(response_my_todo.myData2[i].RateAvg >= 2.5)
                            StarImg3.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg3.setAttribute("src", "../images/dark-star.png");
                        StarImg3.setAttribute("alt", "star3");
                        StarImg3.setAttribute("height", "10");
                        StarImg3.setAttribute("width", "10");
                        Star3.appendChild(StarImg3);

                        var Star4 = document.createElement("a");
                        Star4.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData2[i].TaskId + ",4, "+ response_my_todo.user+")");
                        StarSpan.appendChild(Star4);
                        var StarImg4 = document.createElement("img");
                        if(response_my_todo.myData2[i].RateAvg >= 3.5)
                            StarImg4.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg4.setAttribute("src", "../images/dark-star.png");
                        StarImg4.setAttribute("alt", "star4");
                        StarImg4.setAttribute("height", "10");
                        StarImg4.setAttribute("width", "10");
                        Star4.appendChild(StarImg4);

                        var Star5 = document.createElement("a");
                        Star5.setAttribute("href", "javascript: submitRating(" + response_my_todo.myData2[i].TaskId + ",5, "+ response_my_todo.user+")");
                        StarSpan.appendChild(Star5);
                        var StarImg5 = document.createElement("img");
                        if(response_my_todo.myData2[i].RateAvg >= 4.5)
                            StarImg5.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg5.setAttribute("src", "../images/dark-star.png");
                        StarImg5.setAttribute("alt", "star5");
                        StarImg5.setAttribute("height", "10");
                        StarImg5.setAttribute("width", "10");
                        Star5.appendChild(StarImg5);
                        // Exp field
                        var ExpRow = Newtable.insertRow(2);
                        var ExpCell2 = ExpRow.insertCell(0);
                        ExpCell2.setAttribute("colspan", 3);
                        if(exp)
                            ExpCell2.innerHTML = "<b>Experience</b>: " + exp;
                        ExpCell2.setAttribute("name", "ExpTask_" + response_my_todo.myData2[i].TaskId);
                        ExpCell2.setAttribute("id", "ExpTask_" + response_my_todo.myData2[i].TaskId);
                        // Note field
                        var NoteRow = Newtable.insertRow(3);
                        var NoteCell2 = NoteRow.insertCell(0);
                        NoteCell2.setAttribute("colspan", 3);
                        if(response_my_todo.myData2[i].NoteTask)
                            NoteCell2.innerHTML = "<b>Note</b>: " + response_my_todo.myData2[i].NoteTask;
                        NoteCell2.setAttribute("name", "NoteTask_" + response_my_todo.myData2[i].TaskId);
                        NoteCell2.setAttribute("id", "NoteTask_" + response_my_todo.myData2[i].TaskId);
                        // Label field
                        var Labelrow = Newtable.insertRow(4);
                        var LabelCell = Labelrow.insertCell(0);
                        LabelCell.setAttribute("colspan", 3);
                        var LabelCmm = document.createElement("b");
                        LabelCmm.innerHTML = "Comments";
                        LabelCell.appendChild(LabelCmm);
                        // Comment field
                        var Cmmrow = Newtable.insertRow(5);
                        var CmmCell = Cmmrow.insertCell(0);
                        CmmCell.setAttribute("colspan", 3);
                        var CmmTable = document.createElement("table");
                        CmmTable.setAttribute("id", "show_comment_" + response_my_todo.myData2[i].TaskId);
                        CmmCell.appendChild(CmmTable);
                        for(var j=0;j < response_my_todo.myComments.length; j++){
                            for(var k=0;k<response_my_todo.myComments[j].length;k++){
                                if(response_my_todo.myComments[j][k].TaskId == response_my_todo.myData2[i].TaskId){
                                    var SubCmmrow = CmmTable.insertRow(0);
                                    var SubCmmCell = SubCmmrow.insertCell(0);
                                    SubCmmCell.innerHTML = response_my_todo.myComments[j][k].Comment;
                                }
                            }
                        }
                        // Post field
                        var Postrow = Newtable.insertRow(6);
                        var PostCell = Postrow.insertCell(0);
                        PostCell.setAttribute("colspan", 3);
                        PostCell.setAttribute("colspan", "2");
                        PostCell.setAttribute("id", "comment_td_" + response_my_todo.myData2[i].TaskId);
                        PostCell.setAttribute("name", "comment_td_" + response_my_todo.myData2[i].TaskId);
                        var PostInput = document.createElement("input");
                        PostCell.appendChild(PostInput);
                        PostInput.setAttribute("type", "text");
                        PostInput.setAttribute("width", "200px");
                        PostInput.setAttribute("id", "comment_" + response_my_todo.myData2[i].TaskId);

                        setFunctionForSharedField();
                    }
                    setChart();
                }
                catch(ex){
                    alert(ex);
                }
            }
        };
        xhttp.open("POST", "DoneTask", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("id="+myId+"&exp="+exp+"&shared="+shared);
    }

    function mySetTask(){
        var STime = $("#STime_done_").val();
        var SDate = $("#SDate_done_").val();
        var FTime = $("#FTime_done_").val();
        var FDate = $("#FDate_done_").val();
        var NameTask = $("#NameTask_done_").val();
        var NoteTask = $("#NoteTask_done_").val();
        var priority = 4;
        if(document.getElementById("priority_1_task_done_").checked)
            priority = 1;
        else if(document.getElementById("priority_2_task_done_").checked)
            priority = 2;
        else if(document.getElementById("priority_3_task_done_").checked)
            priority = 3;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                try {
                    // clear form
                    $("#STime_done_").val("");
                    $("#SDate_done_").val("");
                    $("#FTime_done_").val("");
                    $("#FDate_done_").val("");
                    $("#NameTask_done_").val("");
                    $("#NoteTask_done_").val("");
                    document.getElementById("priority_1_task_done_").checked = false;
                    document.getElementById("priority_1_task_done_label").setAttribute("class","ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off");
                    document.getElementById("priority_2_task_done_").checked = false;
                    document.getElementById("priority_2_task_done_label").setAttribute("class","ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off");
                    document.getElementById("priority_3_task_done_").checked = false;
                    document.getElementById("priority_3_task_done_label").setAttribute("class","ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off");
                    document.getElementById("priority_4_task_done_").checked = false;
                    document.getElementById("priority_4_task_done_label").setAttribute("class","ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off");
                    // update response_my_todo.myData2
                    var i = response_my_todo.myData2.length;
                    response_my_todo.myData2.push({"TaskId":taskId,"Owner":response_my_todo.user,"NameTask":NameTask,"startTime":STime,"startDate":SDate,"finishTime":FTime,"finishDate":FDate,"priorityTask":priority,"NoteTask":NoteTask,"Status":"NotYet","RateAvg":0,"CmtNo":0,"PostponeTime":FTime,"PostponeDate":FDate,"Exp":"","Shared":"False"});
                    // show a new task
                    var taskId = JSON.parse(this.responseText).taskId;
                    var table = document.getElementById("myTbl_todo_2");
                    var row = table.insertRow(0);
                    row.setAttribute("name", "Row0_" + taskId);
                    row.setAttribute("id", "Row0_" + taskId);
                    // Task Infor field
                    var NameCell = row.insertCell(0);
                    NameCell.setAttribute("colspan", 3);
                    var NameTab = document.createElement("a");
                    NameTab.innerHTML = NameTask;
                    NameTab.setAttribute("onclick", "setPara2Popup4Suggestion(" + i + ")");
                    NameTab.setAttribute("name", "NameTask2_" + taskId);
                    NameTab.setAttribute("id", "NameTask2_" + taskId);
                    NameTab.setAttribute("href", "#suggestion_todo_popup");
                    NameTab.setAttribute("data-rel", "popup");
                    NameTab.setAttribute("style", "cursor:pointer");
                    NameCell.appendChild(NameTab);

                    var date_row = table.insertRow(1);
                    date_row.setAttribute("name", "Row1_" + taskId);
                    date_row.setAttribute("id", "Row1_" + taskId);
                    var DateCell = date_row.insertCell(0);
                    DateCell.setAttribute("colspan", 3);
                    var DateTab = document.createElement("label");
                    DateTab.innerHTML = "<small>Start: " + SDate + " " + STime + "<br />Finish: " + FDate + " " + FTime + "</small>";
                    DateTab.setAttribute("name", "TimeTask2_" + taskId);
                    DateTab.setAttribute("id", "TimeTask2_" + taskId);
                    DateCell.appendChild(DateTab);

                    var PriorityTab = document.createElement("IMG");
                    if(priority == 4) {
                        PriorityTab.setAttribute("src", "../images/Easy.png");
                        PriorityTab.setAttribute("title", "Easy Task");
                    }
                    else if(priority == 3) {
                        PriorityTab.setAttribute("src", "../images/Normal.png");
                        PriorityTab.setAttribute("title", "Normal Task");
                    }
                    else if(priority == 2) {
                        PriorityTab.setAttribute("src", "../images/Pressing.png");
                        PriorityTab.setAttribute("title", "Pressing Task");
                    }
                    else if(priority == 1) {
                        PriorityTab.setAttribute("src", "../images/Urgent.png");
                        PriorityTab.setAttribute("title", "Urgent Task");
                    }
                    PriorityTab.setAttribute("name", "PriorityTask2_" + taskId);
                    PriorityTab.setAttribute("width", 50);
                    PriorityTab.setAttribute("height", 50);
                    PriorityTab.setAttribute("id", "PriorityTask2_" + taskId);
                    DateCell.appendChild(PriorityTab);

                    var note_row = table.insertRow(2);
                    note_row.setAttribute("name", "Row2_" + taskId);
                    note_row.setAttribute("id", "Row2_" + taskId);
                    var NoteCell = note_row.insertCell(0);
                    NoteCell.setAttribute("colspan", 3);
                    var NoteTab = document.createElement("label");
                    NoteTab.innerHTML = "<small>Note: " + NoteTask + "</small>";
                    NoteTab.setAttribute("name", "NoteTask2_" + taskId);
                    NoteTab.setAttribute("id", "NoteTask2_" + taskId);
                    NoteCell.appendChild(NoteTab);
                    // Delete field
                    var button_row = table.insertRow(3);
                    button_row.setAttribute("name", "Row3_" + taskId);
                    button_row.setAttribute("id", "Row3_" + taskId);
                    var DeleteCell = button_row.insertCell(0);
                    var DeleteBtn = document.createElement("IMG");
                    DeleteBtn.innerHTML = "Delete";
                    //DeleteBtn.setAttribute("class", "ui-btn ui-btn-inline ui-corner-all");
                    DeleteBtn.setAttribute("src", "../images/check_delete.png");
                    DeleteBtn.setAttribute("width", 42);
                    DeleteBtn.setAttribute("height", 42);
                    DeleteBtn.setAttribute("title", "Delete Task");
                    DeleteCell.setAttribute("name", "delete_td_" + taskId);
                    DeleteBtn.setAttribute("id", "delete_" + taskId);
                    DeleteBtn.setAttribute("style", "cursor:pointer");
                    //DeleteBtn.setAttribute("type", "button");
                    DeleteCell.appendChild(DeleteBtn);
                    // Modify field
                    var ModifyCell = button_row.insertCell(1);
                    ModifyCell.setAttribute("name", "modify_td_" + taskId);

                    var MainDiv = document.createElement("DIV");
                    ModifyCell.appendChild(MainDiv);
                    MainDiv.setAttribute("data-role", "main");
                    MainDiv.setAttribute("class", "ui-content");

                    var ModifyButton = document.createElement("A");
                    MainDiv.appendChild(ModifyButton);
                    //ModifyButton.innerHTML = "Modify";
                    var ModifyImg = document.createElement("IMG");
                    ModifyImg.setAttribute("src", "../images/modify-icon.png");
                    ModifyImg.setAttribute("width", 42);
                    ModifyImg.setAttribute("height", 42);
                    ModifyImg.setAttribute("title", "Modify Task");
                    ModifyButton.appendChild(ModifyImg);
                    ModifyButton.setAttribute("href", "#modify_todo_popup");
                    ModifyImg.setAttribute("onclick", "setPara2Popup(" + i + ")");
                    ModifyButton.setAttribute("data-rel", "popup");
                    //ModifyButton.setAttribute("class", "ui-btn ui-btn-inline ui-corner-all");
                    ModifyButton.setAttribute("id", "modify_button_" + taskId);
                    // Done field
                    var DoneCell = button_row.insertCell(2);
                    DoneCell.setAttribute("name", "done_td_" + taskId);

                    var MainDoneDiv = document.createElement("DIV");
                    DoneCell.appendChild(MainDoneDiv);
                    MainDoneDiv.setAttribute("data-role", "main");
                    MainDoneDiv.setAttribute("class", "ui-content");

                    var DoneButton = document.createElement("A");
                    MainDoneDiv.appendChild(DoneButton);
                    var DoneImg = document.createElement("IMG");
                    DoneImg.setAttribute("src", "../images/check_done.png");
                    DoneImg.setAttribute("width", 42);
                    DoneImg.setAttribute("height", 42);
                    DoneImg.setAttribute("title", "Done Task");
                    DoneButton.appendChild(DoneImg);
                    DoneButton.setAttribute("href", "#done_todo_popup");
                    DoneImg.setAttribute("onclick", "setPara2Popup4DoneButton(" + i + ")");
                    //DoneButton.innerHTML = "Done";
                    DoneButton.setAttribute("data-rel", "popup");

                    setFunction();
                }
                catch(ex){
                    alert(ex);
                }
            }
        };
        xhttp.open("POST", "SetTask", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("id="+response_my_todo.user+"&STime="+STime+"&SDate="+SDate+"&FTime="+FTime+"&FDate="+FDate+"&NameTask="+NameTask+"&NoteTask="+NoteTask+"&priority="+priority);
    }

    function submitRating(id, star, user) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // TO DO: insert image of star

            }
        };
        xhttp.open("POST", "SharedTasks?id=" + id + "&star=" + star + "&user=" + user, true);
        xhttp.send();
    }

    function submitComment(id, cmmt, user){
        id = id.split('_');
        id = id[id.length - 1];
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // alert("OK");
                // document.getElementById("demo").innerHTML = cmmt;
                var maintableCmmt = document.getElementById("show_comment_" + id);
                if (maintableCmmt != null){
                    var mainrowCmmt = maintableCmmt.insertRow(-1);
                    var maincellCmmt = mainrowCmmt.insertCell(0);
                    maincellCmmt.innerHTML = cmmt;
                }
                var tableCmmt = document.getElementById("sugshow_comment_" + id);
                if (tableCmmt != null){
                    var rowCmmt = tableCmmt.insertRow(-1);
                    var cellCmmt = rowCmmt.insertCell(0);
                    cellCmmt.innerHTML = cmmt;
                }
            }
        };
        xhttp.open("POST", "CommentTask?id=" + id + "&cmmt=" + cmmt + "&user=" + user, true);

        xhttp.send();
    }

    function submitComment2(id, cmmt, user){
        id = id.split('_');
        id = id[id.length - 1];
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // alert("OK");
                // document.getElementById("demo").innerHTML = cmmt;
                var tableCmmt = document.getElementById("sugshow_comment_" + id);
                if (tableCmmt != null) {
                    var rowCmmt = tableCmmt.insertRow(-1);
                    var cellCmmt = rowCmmt.insertCell(0);
                    cellCmmt.innerHTML = cmmt;
                }
                var maintableCmmt = document.getElementById("show_comment_" + id);
                if (maintableCmmt != null) {
                    var mainrowCmmt = maintableCmmt.insertRow(-1);
                    var maincellCmmt = mainrowCmmt.insertCell(0);
                    maincellCmmt.innerHTML = cmmt;
                }
            }
        };
        xhttp.open("POST", "CommentTask?id=" + id + "&cmmt=" + cmmt + "&user=" + user, true);

        xhttp.send();
    }

    function submitSuggestion(id, sug){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var Suggesttable = document.getElementById("sugTbl_todo");
                while (Suggesttable.firstChild) {
                    Suggesttable.removeChild(Suggesttable.firstChild);
                }
                var response_my_suggestion = JSON.parse(this.responseText);
                if(response_my_suggestion.mySuggestion.length < 1){
                    var NameCell2 = document.createElement("label");
                    NameCell2.innerHTML = "There is no suggestion";
                    Suggesttable.appendChild(NameCell2);
                }
                for(var i in response_my_suggestion.mySuggestion) {
                    try {
                        // Task Infor field
                        var NameCell2 = document.createElement("label");
                        NameCell2.innerHTML = response_my_suggestion.mySuggestion[i].NameTask;
                        NameCell2.setAttribute("name", "sugNameTask_" + response_my_suggestion.mySuggestion[i].TaskId);
                        NameCell2.setAttribute("id", "sugNameTask_" + response_my_suggestion.mySuggestion[i].TaskId);
                        Suggesttable.appendChild(NameCell2);
                        // Star field
                        var StarSpan = document.createElement("span");
                        StarSpan.setAttribute("class", "star-rating");
                        Suggesttable.appendChild(StarSpan);

                        var Star1 = document.createElement("a");
                        Star1.setAttribute("href", "javascript: submitRating(" + response_my_suggestion.mySuggestion[i].TaskId + ",1, "+ response_my_suggestion.user +")");
                        StarSpan.appendChild(Star1);
                        var StarImg1 = document.createElement("img");
                        if(response_my_suggestion.mySuggestion[i].RateAvg >= 0.5)
                            StarImg1.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg1.setAttribute("src", "../images/dark-star.png");
                        StarImg1.setAttribute("alt", "star1");
                        StarImg1.setAttribute("height", "10");
                        StarImg1.setAttribute("width", "10");
                        Star1.appendChild(StarImg1);

                        var Star2 = document.createElement("a");
                        Star2.setAttribute("href", "javascript: submitRating(" + response_my_suggestion.mySuggestion[i].TaskId + ",2, "+ response_my_suggestion.user+")");
                        StarSpan.appendChild(Star2);
                        var StarImg2 = document.createElement("img");
                        if(response_my_suggestion.mySuggestion[i].RateAvg >= 1.5)
                            StarImg2.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg2.setAttribute("src", "../images/dark-star.png");
                        StarImg2.setAttribute("alt", "star2");
                        StarImg2.setAttribute("height", "10");
                        StarImg2.setAttribute("width", "10");
                        Star2.appendChild(StarImg2);

                        var Star3 = document.createElement("a");
                        Star3.setAttribute("href", "javascript: submitRating(" + response_my_suggestion.mySuggestion[i].TaskId + ",3, "+ response_my_suggestion.user+")");
                        StarSpan.appendChild(Star3);
                        var StarImg3 = document.createElement("img");
                        if(response_my_suggestion.mySuggestion[i].RateAvg >= 2.5)
                            StarImg3.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg3.setAttribute("src", "../images/dark-star.png");
                        StarImg3.setAttribute("alt", "star3");
                        StarImg3.setAttribute("height", "10");
                        StarImg3.setAttribute("width", "10");
                        Star3.appendChild(StarImg3);
                        Suggesttable.appendChild(document.createElement("br"));

                        var Star4 = document.createElement("a");
                        Star4.setAttribute("href", "javascript: submitRating(" + response_my_suggestion.mySuggestion[i].TaskId + ",4, "+ response_my_suggestion.user+")");
                        StarSpan.appendChild(Star4);
                        var StarImg4 = document.createElement("img");
                        if(response_my_suggestion.mySuggestion[i].RateAvg >= 3.5)
                            StarImg4.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg4.setAttribute("src", "../images/dark-star.png");
                        StarImg4.setAttribute("alt", "star4");
                        StarImg4.setAttribute("height", "10");
                        StarImg4.setAttribute("width", "10");
                        Star4.appendChild(StarImg4);

                        var Star5 = document.createElement("a");
                        Star5.setAttribute("href", "javascript: submitRating(" + response_my_suggestion.mySuggestion[i].TaskId + ",5, "+ response_my_suggestion.user+")");
                        StarSpan.appendChild(Star5);
                        var StarImg5 = document.createElement("img");
                        if(response_my_suggestion.mySuggestion[i].RateAvg >= 4.5)
                            StarImg5.setAttribute("src", "../images/bright-star.png");
                        else
                            StarImg5.setAttribute("src", "../images/dark-star.png");
                        StarImg5.setAttribute("alt", "star5");
                        StarImg5.setAttribute("height", "10");
                        StarImg5.setAttribute("width", "10");
                        Star5.appendChild(StarImg5);
                        // Exp field
                        var ExpCell2 = document.createElement("label");
                        if(response_my_suggestion.mySuggestion[i].Exp)
                            ExpCell2.innerHTML = "<b>Experience</b>: " + response_my_suggestion.mySuggestion[i].Exp;
                        ExpCell2.setAttribute("name", "ExpTask_" + response_my_suggestion.mySuggestion[i].TaskId);
                        ExpCell2.setAttribute("id", "ExpTask_" +response_my_suggestion.mySuggestion[i].TaskId);
                        // Note field
                        var NoteCell2 = document.createElement("label");
                        if(response_my_suggestion.mySuggestion[i].NoteTask)
                            NoteCell2.innerHTML = "<b>Note</b>: " + response_my_suggestion.mySuggestion[i].NoteTask;
                        NoteCell2.setAttribute("name", "NoteTask_" + response_my_suggestion.mySuggestion[i].TaskId);
                        NoteCell2.setAttribute("id", "NoteTask_" + response_my_suggestion.mySuggestion[i].TaskId);
                        // Label field
                        var LabelCmm = document.createElement("b");
                        LabelCmm.innerHTML = "Comments";
                        Suggesttable.appendChild(LabelCmm);
                        // Comment field
                        var CmmTable = document.createElement("table");
                        CmmTable.setAttribute("id", "sugshow_comment_" + response_my_suggestion.mySuggestion[i].TaskId);
                        Suggesttable.appendChild(CmmTable);
                        for(var j=0;j < response_my_suggestion.myComments.length; j++){
                            for(var k=0;k<response_my_suggestion.myComments[j].length;k++){
                                if(response_my_suggestion.myComments[j][k].TaskId == response_my_suggestion.mySuggestion[i].TaskId){
                                    var SubCmmrow = CmmTable.insertRow(0);
                                    var SubCmmCell = SubCmmrow.insertCell(0);
                                    SubCmmCell.innerHTML = response_my_suggestion.myComments[j][k].Comment;
                                }
                            }
                        }
                        // Post field
                        var PostInput = document.createElement("input");
                        PostInput.setAttribute("type", "text");
                        PostInput.setAttribute("width", "200px");
                        PostInput.setAttribute("id", "sugcomment_" + response_my_suggestion.mySuggestion[i].TaskId);
                        PostInput.setAttribute("name", "sugcomment_" + response_my_suggestion.mySuggestion[i].TaskId);
                        Suggesttable.appendChild(PostInput);
                        Suggesttable.appendChild(document.createElement("br"));
                    }
                    catch(ex){
                        alert(ex);
                    }
                }
                setFunctionForSuggestionField();
            }
        };
        xhttp.open("GET", "SuggestTask?id=" + id + "&name=" + sug, true);

        xhttp.send();
    }
</script>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";


        evt.currentTarget.className += " active";
    }
</script>

