<html lang="en" ng-app="myCalendarApp" id="top">

<head>





    <link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
    <link href='/stylesheets/scheduler.css' rel='stylesheet' />
    <script src='/javascripts/moment.js'></script>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/fullcalendar.min.js'></script>
    <script src='/javascripts/scheduler.js'></script>
    <style href="/stylesheets/style.css"></style>

</head>
<body>



</body>
</html>