.button {
    margin-left: 0px;
    margin-right: 0px;

}
#contentWrap {
    border-style: none;
    width: 370px;
    height: 360px;
    margin-top: 150px;
    position: absolute;
}

#chatWrap {
    height: 360px;
    width: 370px;
    border: none;

}
.chatreserved{
    margin: auto;
    padding:10px;
    position: fixed;
    text-align: center;
}
.listareareserved {
    margin: auto;
    padding: 10px;
    position: fixed;
    text-align: right;
}
.chatcontent {
    margin-top: 0px;
    margin-left: 0px;
    height: 320px;
    overflow: auto;
    border: 1px solid #ccc;
    top: 0;
}

.usrlist {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    height: 347px;
    overflow:auto;
    border: 1px solid #ddd;
    position: absolute;
}
.contact{
    display: none;
}
.chatHeads{
    background-color:#f2f2f2;
    text-decoration-color: black;
    text-align:center;
    font-weight: bold;
    font-size: 110%;
    border:outset;
    margin-top: 0px;
}

.nickWrap {
    border: none;
    width: 250px;
    height: 150px;
}
.user{

}
.pChatscrl{

}
.testt{
}
li:nth-child(odd){
    background: #ddd;
    padding: 10px;
}
li:nth-child(even){
    padding: 10px;
}