.button {
    border: outset;
    margin-left: 0px;
    margin-right: 0px;
    width: 245px;
}

#contentWrap {
    display: none;
    border-style: none;
    width: 370px;
    height: 360px;
    margin-top: 150px;
    position: absolute;
}

#chatWrap {
    height: 360px;
    width: 370px;
    border: none;

}

.chat {
    width: 242px;
    margin-top: 0px;
    margin-left: 0px;
    height: 320px;
    overflow-y: auto;
    border: outset;
}

.usrlist {
    text-align: center;
    width: 105px;
    margin-top: 0px;
    height: 347px;
    overflow-y: auto;
    border: outset;
    position: absolute;
}
.contact{
    display: none;
}
.usrlisthead{
    background-color: cadetblue;
    text-decoration-color: black;
    text-align:center;
    font-weight: bold;
    font-size: 110%;
    border:darkcyan;
}

.nickWrap {
    border: solid;
    width: 350px;
    height: 150px;
}

